<app-header backButton="/login" title="Recuperar"></app-header>

<ion-content >

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

        <ion-icon color="primary" name="person-outline" class="person-outline"></ion-icon>
        <ion-text color="primary">
          <h1>Recuperar <strong>DUOC</strong></h1>
        </ion-text>

      <!-- ==================== Email ===================== -->

        <p><b style="color: rgb(33, 150, 243);">Te enviaremos un email para que puedas restablecer tu contraseña</b></p>

      <app-custom-input 
          autocomplete="email"
          icon="mail-outline"
          [control]="form.controls.email"
          type="email"
          label="Email"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

          <div *ngIf="form.controls.email.errors?.['required']">El correo/email es requerido para continuar</div>
          <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>

        </div>

        
        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
          Recuperar
        </ion-button>

      </form>
  </div>

  

</ion-content>

