<app-header backButton="/login" title="Registro"></app-header>

<ion-content >

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <ion-icon color="primary" name="person-outline" class="person-outline"></ion-icon>
      <ion-text color="primary">
        <h1>Registro <strong>DUOC</strong></h1>
      </ion-text>

      <!-- ==================== Name ===================== -->

      <app-custom-input 
          autocomplete="name"
          icon="person-outline"
          [control]="form.controls.name"
          type="name"
          label="Nombre"
        ></app-custom-input>
        
        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">

          <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido para continuar</div>
          <div *ngIf="form.controls.name.errors?.['minLength']">El nombre debe tener al menos 4 caracteres</div>

        </div>

      <!-- ==================== Email ===================== -->

      <app-custom-input 
          autocomplete="email"
          icon="mail-outline"
          [control]="form.controls.email"
          type="email"
          label="Email"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

          <div *ngIf="form.controls.email.errors?.['required']">El correo/email es requerido para continuar</div>
          <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>

        </div>

        <!-- ==================== Password ===================== -->

        <app-custom-input
        [control]="form.controls.password"
        icon="lock-closed-outline"
        type="password"
        label= Contraseña
        ></app-custom-input>
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">

          <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida para continuar</div>

        </div>

        <!-- ==================== Cuenta ===================== -->
        
        <label>Tipo de cuenta</label>
        <select class="custom-select" icon="lock-closed-outline" formControlName="tipo_pagina">
          <option value="Alumno">Alumno</option>
          <option value="Profesor">Profesor</option>
        </select>

        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
          Registrarse
        </ion-button>

      </form>
  </div>

  

</ion-content>
